<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="prefix.Common" type="fake">
      <section name="objectBuilder" type="fake"/>
    </sectionGroup>
  </configSections>
  <prefix.Common>
    <objectBuilder type="prefix.Common.TypeCreator,prefix.Common"></objectBuilder>
  </prefix.Common>
</configuration>