<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="AbstractFactory.CustomFactories"
             type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <AbstractFactory.CustomFactories>
    <add
      key="Joezhouman.DesignPattern.AbstractFactory.Classic.IAbstractFactory"
      value="Joezhouman.DesignPattern.AbstractFactory.Classic.ConcreteFactory1"/>
  </AbstractFactory.CustomFactories>
</configuration>