<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="Joezhouman.DesignPattern.Factory.FactoryMethod.CustomFactories"
             type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <Joezhouman.DesignPattern.Factory.FactoryMethod.CustomFactories>
    <add
      key="Joezhouman.DesignPattern.Factory.FactoryMethod.IFactory"
      value="Joezhouman.DesignPattern.Factory.FactoryMethod.FactoryA"/>
  </Joezhouman.DesignPattern.Factory.FactoryMethod.CustomFactories>
</configuration>